<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All products</title>
</head>

<body>
<h1>Products</h1>
<div th:if="${productsList!=null and !productsList.isEmpty()}">
    <table>
        <thead>
        <th width="300">Title</th>
        <th width="50">Cost</th>
        </thead>
        <tr th:each="product : ${productsList}" >
            <td th:text="${product.title}"></td>
            <td th:text="${product.cost}"></td>
        </tr>
    </table>
</div>
<a href="/app/products/add">Add product</a>
</body>
</html>